html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url('../img/ert.jpg'); 
     background-repeat: no-repeat;            
    background-position: center;           
    background-size: cover;              
}

main {
  flex: 1;
}

header h1 {
    text-align: center;
}

header p {
    text-align: center;
}




.columns{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

    max-width: 1400px;       
    margin: 0 auto;      
    padding: 40px 20px;
}

.footer-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 колонки равной ширины */
  gap: 40px;

  padding: 40px 20px;
  background-color: #222; /* фон футера */
  color: #fff;
}

.footer-columns > div {  /* добавляем рамку/отступы, чтобы колонки было видно */
  padding: 10px;
  border: 1px solid #444; /* временно, чтобы увидеть колонки */
}

.footer-columns a {  
  color: #ccc;
  text-decoration: none;
}

.footer-columns a:hover {
  color: #fff;
  text-decoration: underline;
}

.footer-columns ul {
  list-style: none;
  padding: 0;
  margin: 0;
}